/* GENERAL RULES */

body {
    font-family: "Trip Sans", sans-serif;
   
  }
  
  button {
    font-family: inherit;
   
  }
  
  input {
    border: none;
    outline: none;
  }
  
  .container {
    max-width: 1136px;
    margin: 0 auto;
     /* border: solid red 1px;  */
  }
  
  h1 {
    font-size: 54px;
    font-weight: bold;
   
  }

  h2{
    font-size: 28px;
    font-weight: bold;
   
}

h3{
    font-size: 24px;
    line-height: 40px;
}


  
  /* HEADER */
  
  header {
    height: 60px;
    /* border: solid black 1px; */
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  header img {
    height: 42px;
    margin-right: 30px;
  }
  
  header > div {
    display: flex;
    justify-content: space-between;
  }
  
  .left-header {
    display: flex;
    /* border: solid green 1px; */
    align-items: center;
  }
  
  .left-header > div {
    width: 350px;
    height: 42px;
    border: solid #e0e0e0 1px;
    display: flex;
    align-items: center;
    border-radius: 21px;
    padding: 0 10px;
  }
  
  .left-header input {
    flex: 1;
    margin-left: 10px;
  }
  
  .right-header {
    /* border: solid purple 1px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
  }
  
.right-header span{
    margin-left: 8px;
    margin-right: 8px ;
}

  .right-header button {
    width: 150px;
    height: 42px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 21px;
  }

/* Main */

h1 span {
    color: #fe5d5d
}

.menu-2{
    /* border: 2px solid green; */
    display: flex;
    margin-top: 20px;
}

.menu-2 article{
    display: flex;
    flex: 1;
    justify-content: center;
    border: black 2px solid;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
   
}

.menu-2 article:not(:last-child){
    margin-right: 20px;
}

.menu-2 article:hover {
    background-color: black;
  color: white;
  }

  .menu-2 p{
    margin-right: 10px;
  }
/* Bloc Pictures */

#bloc-picture{
    margin-top: 30px;
    /* border: red 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.pictures img{
    display: flex;
    height: 430px;
    width: 650px;
    object-fit: cover;
    margin-right: 2px;
   
}

.pictures2 img{
    display: flex;
    height: 215px;
    width: 480px;
    object-fit: cover;
}

.pictures2 img:first-child {
    margin-bottom: 2px;
  }

/* - - - - - -  */

  .legende{
    font-size: 12px;
    color: grey;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
/* Description */

 .middle-bloc{
    /* border: 2px solid red; */
    margin-bottom: 100px;
    display: flex;
 }

 .middle-bloc .col-1{
    /* background-color: #fe5d5d; */
    height: 100%;
    width: 50%;
 }
 .middle-bloc .col-2{
    /* background-color: lightgreen; */
    height: 100%;
    width: calc(50% - 120px);
    margin-left: 120px;

 }

 .middle-bloc .col-1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px
 }

 .middle-bloc .col-2 div:first-child{
    background-color: #fe5d5d;
    padding: 30px;
    box-sizing: border-box;
    height: 234px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
 }

 .middle-bloc .col-2 div:last-child{
    background-image: url(../img/maps_cnuhsr.png);
    height:190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px
 }

 .middle-bloc .col-2 p{
    margin: 10px 0 20px 0;
 }

 .middle-bloc button {
    width: 155px;
    height: 55px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
 
/* PART 2 */

.paris-container{
    /* border: black 2px solid; */
    height: 300px;
    display: flex;
    margin-top: 30px;
    box-sizing: border-box;
    margin-bottom: 100px;
}


.description {
    height: 100%;
    width: 25%;
    /* border: purple 2px solid; */
    box-sizing: border-box;
}

.carousel{
    height: 100%;
    width: 75%;
    /* border: blue 2px solid; */
   display: flex;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* For Chrome */
.carousel::-webkit-scrollbar {
  display: none;
}

.description p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 22px;
    width: 90%;
}

.description button{
margin-top: 20px;
border: none;
background-color: white;
font-family: inherit;
text-decoration: underline;
padding: 0;
}

.carousel article {
    height: 100%;
  /* border: 2px solid green; */
  width: calc(100% / 3 - 32px / 3 );
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
}

.carousel article:not(:last-child){
    margin-right: 16px;
}

.carousel article > div:first-child{
height: calc((100% / 3)*2);
}

.carousel article > div:first-child > img {
height: 100%;
width: 100%;
} 

.round{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel article > div:last-child i {
    color: green;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.desc {
    font-size: 12px;
    color: #9D9D9D;
}

/* Responsive Part */

@media (max-width: 1184px) {
    .menu-2{
        display: flex;
        margin-top: 20px;
    }
    
    .menu-2 article{
        display: flex;
      
        height:42px;
        width: 275px;
        justify-content: center;
        border: red 2px solid;
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
       
    }
}